{% extends 'base.html' %}

{% block title %} Create Shortened URL {% endblock %}

{% block content %}

{% if error %}

<div class="error" id=error>
	<b>Error:</b>
	<span id=error-body>{{ error_body }}</span>
</div>

{% endif %}

{% if created %}

<div id="shortened-url">
<h1>Your shortened URL is:</h1>
<div id=url>{{ url }}</div>
<script>
function copyUrl() {
	try {
		navigator.clipboard.writeText(document.getElementById("url").innerHTML);
		alert("Copied");
	}
	catch (e) {
		alert("Failed to copy text.");
	}
}
</script>
<button class=button onclick="copyUrl()">Copy</button>

<p>Users who visit your URL will see a disclaimer page indicating that the site you have shortened is not affiliated with USU.</p>
</div>

{% else %}

<div id="create-shortened-url">
<h1> Create Shortened URL </h1>
<form action="/create" method="POST">
	<input type="text" id="url-input" name="url" placeholder="Full URL: https://www.example.com">
	<button class=button value="Create URL">Create URL</button>
</form>
<p>
	<b>Disclaimer:</b> We are NOT responsible for the contents of the URL you shorten. Any URL which does not meet USU's acceptable use policy will be REMOVED from our database and not allowed to be shortened.
</p>
Some Rules:
<ul>
	<li>Only use this URL shortener for University-related purposes, such as for classes or research-related work</li>
	<li>Do <i>not</i> use this URL shortener to point to URLs which are pornographic, illegal, hate-speech, etc.</li>
	<li>Do <i>not</i> use this URL shortener to point to URLs which contain malware or social engineering schemes.</li>
</ul>

URLs will work off of USU's campus network, but can only be created while <i>on</i> campus network. This means, we know exactly who has created what URL, and any infraction of these rules could result in immediate action taken against you. Even if you don't sign into your USU account, your on-network IP address is tied to your A-number, and we <i>do</i> store that. So think twice before being a moron.
</div>

{% endif %}

{% endblock %}
